draco/src/java/game/sacred/alliance/magic/app/map/data/MapGate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="maplevelname" />
	
	<xsd:complexType name="MapGateList">
		<xsd:sequence>
			<xsd:element name="maplevel" type="MapGate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MapGate">
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="displayname" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>